<p class="lead">
	<big>Teams</big>
</p>

<ol>
<% Team.includes(:supervisor).all.each do |team| %>
	<li class = "well">
		<%= link_to team.name, team_path(team) %>
		<br>
		<%= find_leader_for team %>
	</li>
<% end %>
</ol>

<%= link_to "New Team", new_team_path, class: "pretty-link" %>