<div class = "page-header">
	<h1>Meritocracy <small> where you get fired for sucking</small></h1>	
	<div class = "navbar">
		<div class="navbar-inner">
		<ul class="nav nav-pills go-right">
			<li><%= link_to "Teams", teams_path %></li>
			<li><%= link_to "Employees", employees_path %></li>
		</ul>
	</div>
	</div>
</div>
