@import 'bootstrap';

.page-header > h1 {
	margin-left: 10px;
}

.container {
	margin-left: 20px;
}

textarea {
	height: 80px;
	width: 350px;
}

td {
	align: left;
	padding-right: 20px;
}

.go-right {
	float: right;
	margin-right: 20px;
}

a.pretty-link {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 19px;
	text-decoration:none;
	transition: all 2s ease;


	&:active {
		position:relative;
		top:1px;
	}

	&:hover {
		background-color: #cdffcd;
	}
}